{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">no</th>
        <th scope="col">id</th>
        <th scope="col">prefix</th>
        <th scope="col">name</th>
        <th scope="col">lastname</th>
        <th scope="col">phone</th>
        <th scope="col">address</th>
        <th scope="col">major</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
          <tr>
            <th scope="row">1</th>
            <th> <a href="{% url 'detail' student.id %}">{{ student.std_id }}</a></th>
            <th> {{ student.prefix_str }}</th>
            <th> {{ student.name }}</th>
            <th> {{ student.lastname }}</th>
            <th> {{ student.phone }}</th>
            <th> {{ student.address }}</th>
            <th> {{ student.major }}</th>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  
{% endblock content %}